html, body {
    height: 100%;
  }

#background_home{
    background: url(/images/background_chutro.png) ;
    position: relative;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

}

/* Logo */

.top img {
    height: 150px;
    width: 150px;
    margin-left: 45%;
}
