<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/views/homepage.css">
    <title>Trang chủ</title>
</head>
<body id="background_home">
    <div class="fixed"> 
        <div class="top">
            <img src="/images/Logo.png" alt="">
        </div>

        <nav class="navbar navbar-expand-lg" style="background-color: #4562e2;">
            <div class="container-fluid">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a style="font-size: 150%; margin-left:100px; width: 100%;" class="nav-link " href="">Thống kê doanh thu</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-size: 150%; margin-left:100px; width: 100%;" class="nav-link" href="">Gửi thông báo</a>
                        </li>
                        
                        <li class="nav-item">
                            <a style="font-size: 150%; margin-left:100px; width: 100%;" class="nav-link" href="">Xuất hóa đơn thu tiền</a>
                        </li>
                        <li>
                            <div class="dropdown-center" style="margin-left: 100px;">
                                <a style="font-size: 150%; width: 100%;" class="nav-link dropdown-toggle dropbtn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Quản lý
                                </a>
                              
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">Quản lý tạm trú</a></li>
                                  <li><a class="dropdown-item" href="#">Quản lý thông tin khách trọ</a></li>
                                  <li><a class="dropdown-item" href="#">Quản lý hợp đồng thuê trọ</a></li>
                                  <li><a class="dropdown-item" href="#">Quản lý tiền phòng</a></li>
                                   
                                </ul>
                              </div>
                        </li>
                    
                        <li class="nav-item">
                           
                        </li>
                    </ul>
                </div>
            </div>
        </nav>  
    </div>
    
</body>
</html>